.easi-packages-page-header {
  border-bottom: 2px solid #f1f1f1;
}

[data-pro-theme=antdv-pro-theme-dark] .easi-packages-page-header {
  border-bottom: 2px solid #434343;
}

.easi-packages-transition-width {
  transition: width 0.2s;
}

.easi-packages-side-placeholder {
  flex-shrink: 0;
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.easi-system-option .ant-popover-inner-content {
  padding: 0;
  min-width: 500px;
  max-height: 460px;
  overflow-x: hidden;
  overflow-y: auto;
}
.easi-system-option .system-item {
  max-width: 400px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 36px;
}
.easi-system-option .system-logo {
  width: 32px;
  height: 32px;
}
.easi-system-option .scope-id-list {
  margin-left: -32px;
}
.easi-system-option .cursor-pointer {
  margin-top: 16px;
  margin-left: 32px;
  display: block;
}
.easi-system-option .cursor-pointer:hover {
  color: #3c9be8;
}

.easi-packages-page-tab {
  height: 64px;
}

.easi-packages-icon-action {
  margin-right: 0 !important;
  color: rgba(0, 0, 0, 0.85);
}
.easi-packages-icon-action:hover {
  color: #177ddc;
}

[data-pro-theme=antdv-pro-theme-dark] .easi-packages-icon-action {
  margin-right: 0 !important;
  color: rgba(255, 255, 255, 0.45);
}
[data-pro-theme=antdv-pro-theme-dark] .easi-packages-icon-action:hover {
  color: #177ddc;
}

.easi-packages-margin-bottom {
  margin-bottom: 20px;
}

.easi-packages-more-item {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 10px;
  margin-left: -24px;
  margin-right: -24px;
  height: 44px;
}

.easi-packages-logo {
  width: 32px;
  height: 32px;
}

.iconfont {
  vertical-align: middle;
}
.iconfont:before {
  display: block !important;
}

.easi-packages-admin-title {
  animation: easi-packages-fade-in 0.2s;
}

.easi-packages-layout-menu {
  min-height: 100%;
}

@keyframes easi-packages-fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  99% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}