.page-header {
  border-bottom: 2px solid #f1f1f1;
}

.transition-width {
  transition: width 0.2s;
}

.side-placeholder {
  flex-shrink: 0;
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.page-tab {
  height: 64px;
}

.icon-action {
  margin-right: 0 !important;
  color: rgba(0, 0, 0, 0.85);
}
.icon-action:hover {
  color: #177ddc;
}

[data-pro-theme=antdv-pro-theme-dark] .icon-action {
  margin-right: 0 !important;
  color: rgba(255, 255, 255, 0.45);
}
[data-pro-theme=antdv-pro-theme-dark] .icon-action:hover {
  color: #177ddc;
}

.easi-system-option .ant-popover-inner-content {
  padding: 0;
}
.easi-system-option .overflow-hidden {
  max-width: 240px;
}
.easi-system-option .system-logo {
  width: 32px;
  height: 32px;
}
.easi-system-option .cursor-pointer {
  width: 80px;
}
.easi-system-option .cursor-pointer .truncate {
  margin-top: 2px;
}
.easi-system-option .cursor-pointer:hover .truncate {
  color: #3c9be8;
}

.margin-bottom {
  margin-bottom: 20px;
}

.more-item {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 10px;
  margin-left: -24px;
  margin-right: -24px;
  height: 44px;
}

.logo {
  width: 34px;
  height: 34px;
}

.iconfont {
  vertical-align: middle;
}
.iconfont:before {
  display: block !important;
}

.admin-title {
  animation: fade-in 0.2s;
}

.layout-menu {
  min-height: 100%;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  99% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}