.easi-btn-primary {
  background-color: #1890ff !important;
  color: #fff;
  border: none !important;
}
.easi-btn-primary:disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}
.easi-btn-primary:hover, .easi-btn-primary:focus {
  background-color: #4ba9ff !important;
  border: none;
}

.easi-btn-success {
  background-color: #52c41a !important;
  color: #fff;
  border: none !important;
}
.easi-btn-success:disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}
.easi-btn-success:hover, .easi-btn-success:focus {
  background-color: #6ae32e !important;
  border: none;
}

.easi-btn-info {
  background-color: #909399 !important;
  color: #fff;
  border: none !important;
}
.easi-btn-info:disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}
.easi-btn-info:hover, .easi-btn-info:focus {
  background-color: #abadb1 !important;
  border: none;
}

.easi-btn-warning {
  background-color: #faad14 !important;
  color: #fff;
  border: none !important;
}
.easi-btn-warning:disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}
.easi-btn-warning:hover, .easi-btn-warning:focus {
  background-color: #fbbe46 !important;
  border: none;
}

.ant-btn-link.easi-btn-link-danger {
  color: #f5222d;
}
.ant-btn-link.easi-btn-link-danger:disabled {
  color: rgba(0, 0, 0, 0.25);
}
.ant-btn-link.easi-btn-link-danger:hover, .ant-btn-link.easi-btn-link-danger:focus {
  color: #f7535b !important;
}
.ant-btn-link.easi-btn-link-success {
  color: #52c41a;
}
.ant-btn-link.easi-btn-link-success:disabled {
  color: rgba(0, 0, 0, 0.25);
}
.ant-btn-link.easi-btn-link-success:hover, .ant-btn-link.easi-btn-link-success:focus {
  color: #6ae32e !important;
}
.ant-btn-link.easi-btn-link-info {
  color: #909399;
}
.ant-btn-link.easi-btn-link-info:disabled {
  color: rgba(0, 0, 0, 0.25);
}
.ant-btn-link.easi-btn-link-info:hover, .ant-btn-link.easi-btn-link-info:focus {
  color: #abadb1 !important;
}
.ant-btn-link.easi-btn-link-warning {
  color: #faad14;
}
.ant-btn-link.easi-btn-link-warning:disabled {
  color: rgba(0, 0, 0, 0.25);
}
.ant-btn-link.easi-btn-link-warning:hover, .ant-btn-link.easi-btn-link-warning:focus {
  color: #fbbe46 !important;
}

[data-pro-theme=antdv-pro-theme-dark] .easi-btn-primary {
  background-color: #0076e4 !important;
  color: #fff;
  border: none !important;
}
[data-pro-theme=antdv-pro-theme-dark] .easi-btn-primary:disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}
[data-pro-theme=antdv-pro-theme-dark] .easi-btn-primary:hover, [data-pro-theme=antdv-pro-theme-dark] .easi-btn-primary:focus {
  background-color: #005cb1 !important;
  border: none;
}
[data-pro-theme=antdv-pro-theme-dark] .easi-btn-success {
  background-color: #3f9714 !important;
  color: #fff;
  border: none !important;
}
[data-pro-theme=antdv-pro-theme-dark] .easi-btn-success:disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}
[data-pro-theme=antdv-pro-theme-dark] .easi-btn-success:hover, [data-pro-theme=antdv-pro-theme-dark] .easi-btn-success:focus {
  background-color: #2c6a0e !important;
  border: none;
}
[data-pro-theme=antdv-pro-theme-dark] .easi-btn-info {
  background-color: #767980 !important;
  color: #fff;
  border: none !important;
}
[data-pro-theme=antdv-pro-theme-dark] .easi-btn-info:disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}
[data-pro-theme=antdv-pro-theme-dark] .easi-btn-info:hover, [data-pro-theme=antdv-pro-theme-dark] .easi-btn-info:focus {
  background-color: #5d6066 !important;
  border: none;
}
[data-pro-theme=antdv-pro-theme-dark] .easi-btn-warning {
  background-color: #d69005 !important;
  color: #fff;
  border: none !important;
}
[data-pro-theme=antdv-pro-theme-dark] .easi-btn-warning:disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}
[data-pro-theme=antdv-pro-theme-dark] .easi-btn-warning:hover, [data-pro-theme=antdv-pro-theme-dark] .easi-btn-warning:focus {
  background-color: #a56f04 !important;
  border: none;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-danger {
  color: #f5222d;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-danger:disabled {
  color: rgba(0, 0, 0, 0.25);
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-danger:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-danger:focus {
  color: #da0a15 !important;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-success {
  color: #52c41a;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-success:disabled {
  color: rgba(0, 0, 0, 0.25);
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-success:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-success:focus {
  color: #3f9714 !important;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-info {
  color: #909399;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-info:disabled {
  color: rgba(0, 0, 0, 0.25);
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-info:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-info:focus {
  color: #767980 !important;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-warning {
  color: #faad14;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-warning:disabled {
  color: rgba(0, 0, 0, 0.25);
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-warning:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-link-warning:focus {
  color: #d69005 !important;
}