.ant-btn-link.easi-btn-success, .ant-btn-text.easi-btn-success {
  color: #67C23A;
}
.ant-btn-link.easi-btn-success:hover, .ant-btn-link.easi-btn-success:active, .ant-btn-link.easi-btn-success:focus, .ant-btn-text.easi-btn-success:hover, .ant-btn-text.easi-btn-success:active, .ant-btn-text.easi-btn-success:focus {
  color: #94d573;
}
.ant-btn-link.easi-btn-success[disabled], .ant-btn-text.easi-btn-success[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: transparent;
}

.ant-btn-link.easi-btn-warning, .ant-btn-text.easi-btn-warning {
  color: #E6A23C;
}
.ant-btn-link.easi-btn-warning:hover, .ant-btn-link.easi-btn-warning:active, .ant-btn-link.easi-btn-warning:focus, .ant-btn-text.easi-btn-warning:hover, .ant-btn-text.easi-btn-warning:active, .ant-btn-text.easi-btn-warning:focus {
  color: #efc280;
}
.ant-btn-link.easi-btn-warning[disabled], .ant-btn-text.easi-btn-warning[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: transparent;
}

.ant-btn-link.easi-btn-info, .ant-btn-text.easi-btn-info {
  color: #909399;
}
.ant-btn-link.easi-btn-info:hover, .ant-btn-link.easi-btn-info:active, .ant-btn-link.easi-btn-info:focus, .ant-btn-text.easi-btn-info:hover, .ant-btn-text.easi-btn-info:active, .ant-btn-text.easi-btn-info:focus {
  color: #b8babe;
}
.ant-btn-link.easi-btn-info[disabled], .ant-btn-text.easi-btn-info[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: transparent;
}

[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-success,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-success {
  color: #529b2e;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-success:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-success:active, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-success:focus,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-success:hover,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-success:active,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-success:focus {
  color: #3d7323;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-success[disabled],
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-success[disabled] {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-warning,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-warning {
  color: #d48a1b;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-warning:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-warning:active, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-warning:focus,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-warning:hover,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-warning:active,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-warning:focus {
  color: #a76d15;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-warning[disabled],
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-warning[disabled] {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-info,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-info {
  color: #767980;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-info:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-info:active, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-info:focus,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-info:hover,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-info:active,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-info:focus {
  color: #5d6066;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-link.easi-btn-info[disabled],
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-text.easi-btn-info[disabled] {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.ant-btn-primary.easi-btn-success {
  background-color: #67C23A;
  border-color: #67C23A;
}
.ant-btn-primary.easi-btn-success:hover, .ant-btn-primary.easi-btn-success:active, .ant-btn-primary.easi-btn-success:focus {
  background-color: #94d573;
  border-color: #94d573;
}
.ant-btn-primary.easi-btn-success[disabled] {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}

.ant-btn-primary.easi-btn-warning {
  background-color: #E6A23C;
  border-color: #E6A23C;
}
.ant-btn-primary.easi-btn-warning:hover, .ant-btn-primary.easi-btn-warning:active, .ant-btn-primary.easi-btn-warning:focus {
  background-color: #efc280;
  border-color: #efc280;
}
.ant-btn-primary.easi-btn-warning[disabled] {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}

.ant-btn-primary.easi-btn-info {
  background-color: #909399;
  border-color: #909399;
}
.ant-btn-primary.easi-btn-info:hover, .ant-btn-primary.easi-btn-info:active, .ant-btn-primary.easi-btn-info:focus {
  background-color: #b8babe;
  border-color: #b8babe;
}
.ant-btn-primary.easi-btn-info[disabled] {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}

[data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-success {
  background-color: #529b2e;
  border-color: #529b2e;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-success:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-success:active, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-success:focus {
  background-color: #3d7323;
  border-color: #3d7323;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-success[disabled] {
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.3);
  border-color: #434343;
}

[data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-warning {
  background-color: #d48a1b;
  border-color: #d48a1b;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-warning:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-warning:active, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-warning:focus {
  background-color: #a76d15;
  border-color: #a76d15;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-warning[disabled] {
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.3);
  border-color: #434343;
}

[data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-info {
  background-color: #767980;
  border-color: #767980;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-info:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-info:active, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-info:focus {
  background-color: #5d6066;
  border-color: #5d6066;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-primary.easi-btn-info[disabled] {
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.3);
  border-color: #434343;
}

.ant-btn-ghost.easi-btn-success,
.ant-btn-dashed.easi-btn-success,
.ant-btn-default.easi-btn-success {
  color: #67C23A;
  border-color: #67C23A;
}
.ant-btn-ghost.easi-btn-success:hover, .ant-btn-ghost.easi-btn-success:active, .ant-btn-ghost.easi-btn-success:focus,
.ant-btn-dashed.easi-btn-success:hover,
.ant-btn-dashed.easi-btn-success:active,
.ant-btn-dashed.easi-btn-success:focus,
.ant-btn-default.easi-btn-success:hover,
.ant-btn-default.easi-btn-success:active,
.ant-btn-default.easi-btn-success:focus {
  color: #94d573;
  border-color: #94d573;
}
.ant-btn-ghost.easi-btn-success[disabled],
.ant-btn-dashed.easi-btn-success[disabled],
.ant-btn-default.easi-btn-success[disabled] {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}

.ant-btn-ghost.easi-btn-warning,
.ant-btn-dashed.easi-btn-warning,
.ant-btn-default.easi-btn-warning {
  color: #E6A23C;
  border-color: #E6A23C;
}
.ant-btn-ghost.easi-btn-warning:hover, .ant-btn-ghost.easi-btn-warning:active, .ant-btn-ghost.easi-btn-warning:focus,
.ant-btn-dashed.easi-btn-warning:hover,
.ant-btn-dashed.easi-btn-warning:active,
.ant-btn-dashed.easi-btn-warning:focus,
.ant-btn-default.easi-btn-warning:hover,
.ant-btn-default.easi-btn-warning:active,
.ant-btn-default.easi-btn-warning:focus {
  color: #efc280;
  border-color: #efc280;
}
.ant-btn-ghost.easi-btn-warning[disabled],
.ant-btn-dashed.easi-btn-warning[disabled],
.ant-btn-default.easi-btn-warning[disabled] {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}

.ant-btn-ghost.easi-btn-info,
.ant-btn-dashed.easi-btn-info,
.ant-btn-default.easi-btn-info {
  color: #909399;
  border-color: #909399;
}
.ant-btn-ghost.easi-btn-info:hover, .ant-btn-ghost.easi-btn-info:active, .ant-btn-ghost.easi-btn-info:focus,
.ant-btn-dashed.easi-btn-info:hover,
.ant-btn-dashed.easi-btn-info:active,
.ant-btn-dashed.easi-btn-info:focus,
.ant-btn-default.easi-btn-info:hover,
.ant-btn-default.easi-btn-info:active,
.ant-btn-default.easi-btn-info:focus {
  color: #b8babe;
  border-color: #b8babe;
}
.ant-btn-ghost.easi-btn-info[disabled],
.ant-btn-dashed.easi-btn-info[disabled],
.ant-btn-default.easi-btn-info[disabled] {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}

[data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-success,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-success,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-success {
  color: #67C23A;
  border-color: #67C23A;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-success:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-success:active, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-success:focus,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-success:hover,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-success:active,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-success:focus,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-success:hover,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-success:active,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-success:focus {
  color: #529b2e;
  border-color: #529b2e;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-success[disabled],
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-success[disabled],
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-success[disabled] {
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.3);
  border-color: #434343;
}

[data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-warning,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-warning,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-warning {
  color: #E6A23C;
  border-color: #E6A23C;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-warning:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-warning:active, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-warning:focus,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-warning:hover,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-warning:active,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-warning:focus,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-warning:hover,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-warning:active,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-warning:focus {
  color: #d48a1b;
  border-color: #d48a1b;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-warning[disabled],
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-warning[disabled],
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-warning[disabled] {
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.3);
  border-color: #434343;
}

[data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-info,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-info,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-info {
  color: #909399;
  border-color: #909399;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-info:hover, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-info:active, [data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-info:focus,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-info:hover,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-info:active,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-info:focus,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-info:hover,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-info:active,
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-info:focus {
  color: #767980;
  border-color: #767980;
}
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-ghost.easi-btn-info[disabled],
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-dashed.easi-btn-info[disabled],
[data-pro-theme=antdv-pro-theme-dark] .ant-btn-default.easi-btn-info[disabled] {
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.3);
  border-color: #434343;
}

@tailwind base;
@tailwind components;
@tailwind utilities;