[data-pro-theme=antdv-pro-theme-dark] .easi-packages-drawer-footer {
  background-color: #1f1f1f;
  border-color: #303030;
}

.easi-packages-drawer-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px;
  background: #fff;
  text-align: right;
  z-index: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;