[data-pro-theme=antdv-pro-theme-dark] .loading-container[data-v-b2dea7fe] {
  background: rgba(20, 20, 20, 0.8);
}
[data-pro-theme=antdv-pro-theme-dark] .loading-container[data-v-b2dea7fe] .loading[data-v-b2dea7fe] {
  background-color: #000;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.6);
}
[data-pro-theme=antdv-pro-theme-dark] .loading-container[data-v-b2dea7fe] .loading-shadow div[data-v-b2dea7fe] {
  background-color: #898989;
}
[data-pro-theme=antdv-pro-theme-dark] .loading-container[data-v-b2dea7fe] .tips[data-v-b2dea7fe] {
  color: #eaeaea;
}

.loading-container[data-v-b2dea7fe] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1001;
}

.loading[data-v-b2dea7fe] {
  position: absolute;
  top: 45%;
  left: 50%;
  border-radius: 8px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 1px 1px 10px 2px rgba(190, 190, 190, 0.4);
}
.loading[data-v-b2dea7fe].small[data-v-b2dea7fe] {
  transform: translate(-50%, -50%) scale(0.8);
}

.loading-wrap[data-v-b2dea7fe] {
  padding-top: 14px;
  padding-bottom: 10px;
  width: 94px;
}

.ball[data-v-b2dea7fe] {
  position: relative;
  margin: auto;
  width: 40px;
  height: 40px;
  animation: jump-b2dea7fe 1s linear infinite;
  z-index: 10;
  background-color: #ffda00;
  border-radius: 50%;
  backface-visibility: hidden;
}

.loading-shadow[data-v-b2dea7fe] {
  position: relative;
  margin-top: 4px;
  width: 100%;
  z-index: 5;
  backface-visibility: hidden;
}

.loading-shadow div[data-v-b2dea7fe] {
  margin: auto;
  width: 35%;
  height: 6px;
  animation: scale-b2dea7fe 1s linear infinite;
  transform-origin: top center;
  background: #e1e1e1;
  border-radius: 50%;
  backface-visibility: hidden;
}

.bg[data-v-b2dea7fe] {
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("./Easi.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 68px 24px;
  z-index: 10;
  backface-visibility: hidden;
}

.spoon[data-v-b2dea7fe] {
  margin-top: 1px;
  margin-left: -3px;
  background-position: 0 0;
  animation: spoon-b2dea7fe 1s linear infinite;
}

.fork[data-v-b2dea7fe] {
  margin-top: 1px;
  margin-left: 3px;
  background-position: -44px 0;
  animation: fork-b2dea7fe 1s linear infinite;
}

.tips[data-v-b2dea7fe] {
  margin-bottom: 7px;
  font-size: 12px;
  color: #ccc;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fade-enter-active[data-v-b2dea7fe],
.fade-leave-active[data-v-b2dea7fe] {
  transition: opacity 0.3s;
}

.fade-enter-from[data-v-b2dea7fe],
.fade-leave-to[data-v-b2dea7fe] {
  opacity: 0;
}

@keyframes jump-b2dea7fe {
  0%, 100% {
    transform: translate3d(0, 0, 0) scale(1);
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }
  50% {
    transform: translate3d(0, 10px, 0) scale(0.8);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }
}
@keyframes scale-b2dea7fe {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
    opacity: 0.4;
  }
}
@keyframes fork-b2dea7fe {
  0%, 100% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(-6px) rotate(-90deg);
  }
}
@keyframes spoon-b2dea7fe {
  0%, 100% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(6px) rotate(90deg);
  }
}